.header {
  top: 0;
  left: 0;
  position: sticky;
  z-index: 1100;
  display: flex;
  align-items: center;
  min-height: 64px;
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  color: #fff;
  background-color: #87c8fa;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
.form {
  display: flex;
  align-items: center;
  margin-left: 50px;
}
.input {
  width: 200px;
  height: 35px;
  border-radius: 10px;
  padding-left: 10px;
  outline: none;
  border: none;
}
.button {
  display: flex;
  width: 35px;
  height: 35px;
  margin-left: 5px;
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: #ffffff;
  cursor: pointer;
}
.icon {
  height: 30px;
  width: 30px;
}
